<h1>New Chat</h1>

<%= simple_form_for [@person, @chat] do |f| %>
  <%= f.input :name, label: "Chat room name" %>
  <%= f.input :tone %>
  <%= f.input :format %>
  <%= f.button :submit, "Create Chat" %>
 <% end %>

<%= link_to "Back to Person", person_path(@person) %>
